# ===============================
# DEPENDENCIAS
# ===============================
node_modules/

# ===============================
# ENV FILES
# ===============================
.env
backend/.env
react-app/.env

# ===============================
# BUILD / DIST
# ===============================
dist/
build/

# ===============================
# LOGS
# ===============================
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# ===============================
# OS FILES
# ===============================
.DS_Store
Thumbs.db

# ===============================
# IDE / EDITOR
# ===============================
.vscode/
.idea/

# ===============================
# TYPESCRIPT CACHE
# ===============================
*.tsbuildinfo

# ===============================
# CACHE
# ===============================
.cache/